<nav class="nav">
  <div class="nav-content">
    <%= link_to "Poetrie", root_path, class: "nav-brand" %>
    <ul class="nav-links">
      <li><%= link_to "Poems", poems_path, class: "nav-link active" %></li>
      <li><%= link_to "Gallery", images_path, class: "nav-link" %></li>
    </ul>
  </div>
</nav>

<div class="container" data-controller="poems">
  <div class="content-wrapper">
    <div class="poem-container">
      <div class="poem-header">
        <h1 class="poem-title"><%= @poem.title %></h1>
      </div>
      
      <pre class="poem-content" data-poems-target="poemContent"><%= @poem.show_content %></pre>

      <%= form_with(model: [@poem, @poem.comments.new], class: 'comment-form hidden', data: { action: "poems#handleSubmit", poems_target: "form" }) do |f| %>
        <%= f.hidden_field :start_position, data: { poems_target: "startPosition"} %>
        <%= f.hidden_field :end_position, data: { poems_target: "endPosition"} %>
        <div class="comment-form-field">
          <%= f.text_field :content, required: true, placeholder: "Add your comment...", class: "comment-input" %>
        </div>
        <div class="comment-form-actions">
          <span class="comment-form-footer" data-action="click->poems#handleCancel">Cancel</span>
          <%= f.submit "Comment", class: "comment-submit-btn" %>
        </div>
      <% end %>

      <button class="add-comment-button hidden" data-poems-target="addCommentButton" data-action="click->poems#handleClick" title="Add comment to selected text">
        <span class="add-comment-icon">ðŸ’¬</span>
      </button>

      <div class="poem-footer">
        <%= link_to "â† Back", :back, class: "poem-back-link" %>
      </div>
    </div>
  </div>
</div>
