<nav class="nav">
  <div class="nav-content">
    <%= link_to "Poetrie", root_path, class: "nav-brand" %>
    <ul class="nav-links">
      <li><%= link_to "Poems", poems_path, class: "nav-link active" %></li>
      <li><%= link_to "Gallery", images_path, class: "nav-link" %></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="content-wrapper">
    <div class="poem-container">
      <div class="poem-header">
        <h1 class="poem-title"><%= @poem.title %></h1>
      </div>
      
      <div class="poem-content"><%= @poem.show_content %></div>
      
      <div style="text-align: center;">
        <%= link_to "â† Back", :back, class: "poem-back-link" %>
      </div>
    </div>
  </div>
</div>
