<nav class="nav">
  <div class="nav-content">
    <%= link_to "Poetrie", root_path, class: "nav-brand" %>
    <ul class="nav-links">
      <li><%= link_to "Poems", poems_path, class: "nav-link" %></li>
      <li><%= link_to "Gallery", images_path, class: "nav-link active" %></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="painting-container">
    <div class="painting-header">
      <h1 class="painting-title"><%= @image.title %></h1>
    </div>
    
    <div class="painting-image-wrapper">
      <%= image_tag @image.image_file.url, alt: @image.title, class: "painting-image" if @image.image_file.present? %>
    </div>
    
    <div class="painting-info">
      <p><%= @image.created_at.strftime("%B %d, %Y") %></p>
      <div>
        <%= link_to "â† Back", :back, class: "painting-back-link" %>
      </div>
    </div>
  </div>
</div>